//
//  Secret.xcconfig
//  wayble-iOS
//
//  Created by 이서현 on 7/30/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

API_BASE_URL=https:/$()/wayble.site
//http:/$()/ec2-43-200-239-33.ap-northeast-2.compute.amazonaws.com:8080

NAVER_CLIENT_ID = BgYZd4nAU9SODxHpQJIt
NMFNcpKeyId = 4wrbuvpxtr
NAVER_CLIENT_SECRET = pNjVsZ2VWl
NMFNcpKeySecret = 4kJh9HLYZKTovSsyoukGILkBwFAyjHgPop5kR91f
KAKAO_REST_API_KEY = f32cf1af5b7338967e464726d02753a8

